@import './sass/colors';
@import './sass/typography';
@import './sass/font';
@import './sass/spacing';
@import './sass/layout';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #050607;
}


